In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Australian Vehicle Prices.csv')

In [3]:
data

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16729,Toyota,2014.0,Alphard,SYC Cars,2014 Toyota Alphard,USED,Automatic,-,Front,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,USED Dealer ad,2012 Mercedes-Benz S-Class CDI BlueTEC,USED,Automatic,-,Rear,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16731,Suzuki,2022.0,Vitara,Bremer Suzuki - New,2022 Suzuki Vitara 1.6L,DEMO,Automatic,"4 cyl, 1.6 L",Front,Unleaded,6.2 L / 100 km,5165,Yellow / -,"Dinmore, QLD",4 cyl,SUV,4 Doors,5 Seats,35280
16732,Mercedes-Benz,2016.0,GLC250,SUV,2016 Mercedes-Benz GLC250,USED,Automatic,"4 cyl, 2 L",AWD,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,Sedan,2021 Mercedes-Benz C200,USED,Automatic,"4 cyl, 2 L",Rear,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

In [4]:
df = pd.DataFrame(data)
Transmission='Manual'
filter_Data = df[df['Transmission'] == Transmission]
filter_Data

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
17,Mitsubishi,2013.0,Outlander,Exclusive Autohaus,2013 Mitsubishi Outlander ES,USED,Manual,-,Other,-,-,120020,Blue / Grey,"Blacktown, NSW",-,Wagon,NaN,NaN,13999
31,Volkswagen,2013.0,Golf,Hatchback,2013 Volkswagen Golf GTI,USED,Manual,"4 cyl, 2 L",Front,Premium,6.6 L / 100 km,69197,Black / Black,"Blacktown, NSW",4 cyl,Hatchback,5 Doors,5 Seats,24880
39,Toyota,2010.0,Corolla,Hatchback,2010 Toyota Corolla Conquest,USED,Manual,"4 cyl, 1.8 L",Front,Unleaded,7.7 L / 100 km,238270,Grey / -,"Smithfield, NSW",4 cyl,Hatchback,5 Doors,5 Seats,8800
47,Toyota,2012.0,86,Coupe,2012 Toyota 86 GT,USED,Manual,"4 cyl, 2 L",Rear,Premium,7.8 L / 100 km,178747,Silver / Black,"Granville, NSW",4 cyl,Coupe,2 Doors,4 Seats,19900
51,Abarth,2021.0,595,Hatchback,2021 Abarth 595 Competizione,USED,Manual,"4 cyl, 1.4 L",Front,Premium,6 L / 100 km,13200,Black / Black,"Ryde, NSW",4 cyl,Hatchback,3 Doors,4 Seats,36990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16686,Subaru,2012.0,XV,SUV,2012 Subaru XV 2.0I-L,USED,Manual,"4 cyl, 2 L",AWD,Unleaded,7.3 L / 100 km,167000,Orange / -,"Archerfield, QLD",4 cyl,SUV,4 Doors,5 Seats,15999
16701,Mazda,2007.0,3,Sedan,2007 Mazda 3 NEO,USED,Manual,"4 cyl, 2 L",Front,Unleaded,8.2 L / 100 km,197336,Blue / Black,"Toowoomba City, QLD",4 cyl,Sedan,4 Doors,5 Seats,8999
16713,Nissan,2014.0,X-Trail,SUV,2014 Nissan X-Trail TL (4X4),USED,Manual,"4 cyl, 1.6 L",4WD,Diesel,5.3 L / 100 km,179968,Silver / Grey,"Woodridge, QLD",4 cyl,SUV,4 Doors,5 Seats,18990
16718,Mazda,2016.0,CX-5,SUV,2016 Mazda CX-5 Maxx (4X2),USED,Manual,"4 cyl, 2 L",Front,Unleaded,6.4 L / 100 km,66170,White / Black,"Toowoomba City, QLD",4 cyl,SUV,4 Doors,5 Seats,23900
16721,Hyundai,2016.0,Accent,Hatchback,2016 Hyundai Accent Active,USED,Manual,"4 cyl, 1.4 L",Front,Unleaded,5.9 L / 100 km,85000,Blue / -,"Slacks Creek, QLD",4 cyl,Hatchback,5 Doors,5 Seats,12900

In [5]:
Transmission='Manual'
Condition='NEW'
filter_Data = df[(df['Transmission'] == Transmission) & (df['UsedOrNew'] == Condition)]
filter_Data # Applying multiple filters

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
1573,Renault,2023.0,Megane,Macarthur Renault,2023 Renault Megane R.s. Trophy,NEW,Manual,"4 cyl, 1.8 L",Front,-,8.3 L / 100 km,-,Yellow / -,"Narellan, NSW",4 cyl,Hatchback,5 Doors,5 Seats,71490
2394,Volkswagen,2023.0,Caddy,Alto Volkswagen New Cars,2023 Volkswagen Caddy 5 Cargo TDI280,NEW,Manual,"4 cyl, 2 L",Front,Diesel,4.9 L / 100 km,15,White / Black,"Blacktown, NSW",4 cyl,Commercial,2 Doors,2 Seats,46887
3677,Renault,2023.0,Master,Col Crawford Renault New & Demo,2023 Renault Master Pro MWB FWD (120kW) L2H2,NEW,Manual,"4 cyl, 2.3 L",Front,Diesel,0 L / 100 km,10,White / Black,"Brookvale, NSW",4 cyl,Commercial,3 Doors,3 Seats,55980
3732,Volkswagen,2023.0,Amarok,Liverpool Volkswagen New Cars,2023 Volkswagen Amarok Core TDI405 4Motion,NEW,Manual,"4 cyl, 2 L",AWD,Diesel,7.1 L / 100 km,-,White / -,"Liverpool, NSW",4 cyl,Ute / Tray,4 Doors,5 Seats,55990
9830,Renault,2023.0,Megane,Frankston Renault and Isuzu,2023 Renault Megane R.s. Trophy,NEW,Manual,"4 cyl, 1.8 L",Front,-,8.3 L / 100 km,22,White / Alcantara(R) Upholst,"Seaford, VIC",4 cyl,Hatchback,5 Doors,5 Seats,69885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15501,Iveco,2023.0,Daily,NEW Available to order,2023 Iveco Daily E6 35S14V H1 SRW (WB3000),NEW,Manual,"4 cyl, 2.3 L",Rear,Diesel,0 L / 100 km,- / -,"3 years / 200,000 km",NaN,4 cyl,Commercial,3 Doors,3 Seats,59738
15509,Iveco,2023.0,Daily,NEW Available to order,2023 Iveco Daily E6 35S18V H2 SRW (WB3520L),NEW,Manual,"4 cyl, 3 L",Rear,Diesel,0 L / 100 km,- / -,"3 years / 200,000 km",NaN,4 cyl,Commercial,3 Doors,3 Seats,70202
15562,Mazda,2023.0,3,Rockdale Mazda New,2023 Mazda 3 G25 GT,NEW,Manual,"4 cyl, 2.5 L",Front,Unleaded,6.2 L / 100 km,7,Blue / Black Leather,"Arncliffe, NSW",4 cyl,Sedan,4 Doors,5 Seats,40888
16537,Daihatsu,2022.0,Hijet,NEW In stock,2022 Daihatsu Hijet,NEW,Manual,-,Other,Unleaded,-,-,Brown / -,"Rocklea, QLD",-,Ute / Tray,2 Seats,NaN,26750
16629,Suzuki,2022.0,Swift,Moreton Bay Suzuki - New,2022 Suzuki Swift Sport Navi Turbo,NEW,Manual,"4 cyl, 1.4 L",Front,Unleaded,6.1 L / 100 km,-,Blue / -,"Capalaba, QLD",4 cyl,Hatchback,5 Doors,5 Seats,34690

In [6]:
Transmission='Megane'
res = df['Title'].str.contains(Transmission).fillna(False)
print(df[res])
print(df[res].shape)

         Brand    Year   Model                                   Car/Suv  \
324    Renault  2014.0  Megane                                     Wagon
494    Renault  2017.0  Megane                                     Wagon
518    Renault  2011.0  Megane                                 Hatchback
549    Renault  2013.0  Megane                                     Wagon
580    Renault  2018.0  Megane                                 Hatchback
1068   Renault  2014.0  Megane                                 Hatchback
1573   Renault  2023.0  Megane                         Macarthur Renault
2652   Renault  2015.0  Megane                                 Hatchback
3748   Renault  2013.0  Megane                                 Hatchback
4625   Renault  2014.0  Megane                                     Wagon
6579   Renault  2020.0  Megane                                 Hatchback
6876   Renault  2018.0  Megane                                 Hatchback
7036   Renault  2015.0  Megane                                 Hatchback
7536   Renault  2023.0  Megane  Renault NEW Frizelle Sunshine Automotive
8911   Renault  2012.0  Megane                        LV's Discount Cars
9203   Renault  2013.0  Megane                                 Hatchback
9369   Renault  2023.0  Megane               Frankston Renault and Isuzu
9551   Renault  2023.0  Megane               Frankston Renault and Isuzu
9830   Renault  2023.0  Megane               Frankston Renault and Isuzu
10928  Renault  2013.0  Megane                                 Hatchback
11514  Renault  2017.0  Megane                                     Wagon
13704  Renault  2017.0  Megane                                 Hatchback
15267  Renault  2023.0  Megane                       Castle Hill Renault
15537  Renault  2015.0  Megane                                    Mr Car
16679  Renault  2016.0  Megane                                     Wagon

                                                   Title UsedOrNew  \
324                          2014 Renault Megane GT-Line      USED
494                               2017 Renault Megane GT      USED
518                        2011 Renault Megane Privilege      USED
549                          2013 Renault Megane GT-Line      USED
580                           2018 Renault Megane RS 280      USED
1068                 2014 Renault Megane GT-Line Premium      USED
1573                     2023 Renault Megane R.s. Trophy       NEW
2652                         2015 Renault Megane GT-Line      USED
3748                      2013 Renault Megane Expression      USED
4625                         2014 Renault Megane GT-Line      USED
6579                      2020 Renault Megane R.s. Sport      USED
6876                         2018 Renault Megane GT-Line      USED
7036                         2015 Renault Megane GT-Line      USED
7536                     2023 Renault Megane R.s. Trophy       NEW
8911   2012 Renault Megane lll B32 MY12 DYNAMIQUE SPO...      USED
9203                       2013 Renault Megane Privilege      USED
9369                     2023 Renault Megane R.s. Trophy       NEW
9551                     2023 Renault Megane R.s. Trophy       NEW
9830                     2023 Renault Megane R.s. Trophy       NEW
10928                        2013 Renault Megane GT-Line      USED
11514                        2017 Renault Megane GT-Line      USED
13704                            2017 Renault Megane ZEN      USED
15267                    2023 Renault Megane R.s. Trophy       NEW
15537  2015 Renault Megane III B95 Phase 2 GT-Line Ha...      USED
16679                        2016 Renault Megane GT-Line      USED

      Transmission        Engine DriveType  FuelType FuelConsumption  \
324      Automatic  4 cyl, 1.2 L     Front   Premium  5.6 L / 100 km
494      Automatic  4 cyl, 1.6 L     Front   Premium    6 L / 100 km
518      Automatic    4 cyl, 2 L     Front   Premium  7.9 L / 100 km
549      Automatic    4 cyl, 2 L     Front   Premium  7.9 L / 100 km
580         Manual  4 cyl, 1.8 L     Front         -  7.5 L / 100 km
1068     Automatic  4 cyl, 1.2 L     Front   Premium  5.6 L / 100 km
1573        Manual  4 cyl, 1.8 L     Front         -  8.3 L / 100 km
2652     Automatic  4 cyl, 1.2 L     Front   Premium  5.6 L / 100 km
3748        Manual  4 cyl, 1.2 L     Front   Premium  5.6 L / 100 km
4625     Automatic  4 cyl, 1.2 L     Front   Premium  5.6 L / 100 km
6579     Automatic  4 cyl, 1.8 L     Front   Premium  7.5 L / 100 km
6876     Automatic  4 cyl, 1.2 L     Front   Premium    6 L / 100 km
7036     Automatic  4 cyl, 1.2 L     Front   Premium  5.6 L / 100 km
7536     Automatic  4 cyl, 1.8 L     Front         -    8 L / 100 km
8911     Automatic             -     Front  Unleaded               -
9203     Automatic  4 cyl, 1.5 L     Front    Diesel  4.4 L / 100 km
9369     Automatic  4 cyl, 1.8 L     Front         -    8 L / 100 km
9551     Automatic  4 cyl, 1.8 L     Front         -    8 L / 100 km
9830        Manual  4 cyl, 1.8 L     Front         -  8.3 L / 100 km
10928    Automatic    4 cyl, 2 L     Front   Premium  7.8 L / 100 km
11514    Automatic  4 cyl, 1.2 L     Front   Premium  5.6 L / 100 km
13704    Automatic  4 cyl, 1.2 L     Front   Premium  5.6 L / 100 km
15267    Automatic  4 cyl, 1.8 L     Front         -    8 L / 100 km
15537    Automatic             -     Other  Unleaded               -
16679    Automatic  4 cyl, 1.2 L     Front   Premium  5.6 L / 100 km

      Kilometres                        ColourExtInt                Location  \
324       112133                        Black / Grey            Croydon, NSW
494       152494                           White / -        Minchinbury, NSW
518        40856               Black / Black Leather        Minchinbury, NSW
549       100970                      Silver / Black  Tweed Heads South, NSW
580        39067                        Grey / Black          Brookvale, NSW
1068      158960          Grey / Black/Cream Leather          Elderslie, NSW
1573           -                          Yellow / -           Narellan, NSW
2652       88425                            Blue / -       Warwick Farm, NSW
3748       86745                            Grey / -        Osborne Park, WA
4625      103000                               - / -          Granville, NSW
6579       33918                       White / Black           Greenway, ACT
6876       91474                            Grey / -          Traralgon, VIC
7036      115296                        Blue / Black         Thomastown, VIC
7536           7                           Black / -          Southport, QLD
8911      116699                            Blue / -          Underwood, QLD
9203      124318                             Red / -           Moorooka, QLD
9369          22           Red / Recaro-Fs-Alcantara            Seaford, VIC
9551          22        Black / Alcantara(R) Upholst            Seaford, VIC
9830          22        White / Alcantara(R) Upholst            Seaford, VIC
10928      81600                           Black / -          Moorabbin, VIC
11514      63081                            Blue / -          Wendouree, VIC
13704      90000                       White / Black          Maddington, WA
15267          8  Yellow / Alcantara-Red/Grey Stitch        Castle Hill, NSW
15537     102080                            Grey / -         Rouse Hill, NSW
16679     149167                         Red / Black         Mordialloc, VIC

      CylindersinEngine   BodyType     Doors     Seats  Price
324               4 cyl      Wagon   4 Doors   5 Seats  13999
494               4 cyl      Wagon   4 Doors   5 Seats  22800
518               4 cyl  Hatchback   5 Doors   5 Seats  14880
549               4 cyl      Wagon   4 Doors   5 Seats  17990
580               4 cyl  Hatchback   5 Doors   5 Seats  38990
1068              4 cyl  Hatchback   5 Doors   5 Seats  11999
1573              4 cyl  Hatchback   5 Doors   5 Seats  71490
2652              4 cyl  Hatchback   5 Doors   5 Seats  14300
3748              4 cyl  Hatchback   5 Doors   5 Seats  10990
4625              4 cyl      Wagon   4 Doors   5 Seats  13900
6579              4 cyl  Hatchback   5 Doors   5 Seats  40970
6876              4 cyl  Hatchback   5 Doors   5 Seats  20999
7036              4 cyl  Hatchback   5 Doors   5 Seats  16490
7536              4 cyl  Hatchback   5 Doors   5 Seats  69990
8911                  -  Hatchback       NaN       NaN  11999
9203              4 cyl  Hatchback   5 Doors   5 Seats  12995
9369              4 cyl  Hatchback   5 Doors   5 Seats  78309
9551              4 cyl  Hatchback   5 Doors   5 Seats  73011
9830              4 cyl  Hatchback   5 Doors   5 Seats  69885
10928             4 cyl  Hatchback   5 Doors   5 Seats  14990
11514             4 cyl      Wagon   4 Doors   5 Seats  25990
13704             4 cyl  Hatchback   5 Doors   5 Seats  18990
15267             4 cyl  Hatchback   5 Doors   5 Seats  72800
15537                 -  Hatchback       NaN       NaN  15999
16679             4 cyl      Wagon   4 Doors   5 Seats  13999
(25, 19)

In [13]:
Drive='Other'
filter_Data = df[df['DriveType']==Drive]
filter_Data

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",Other,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Other,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Other,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Other,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Other,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16729,Toyota,2014.0,Alphard,SYC Cars,2014 Toyota Alphard,USED,Automatic,-,Other,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,USED Dealer ad,2012 Mercedes-Benz S-Class CDI BlueTEC,USED,Automatic,-,Other,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16731,Suzuki,2022.0,Vitara,Bremer Suzuki - New,2022 Suzuki Vitara 1.6L,DEMO,Automatic,"4 cyl, 1.6 L",Other,Unleaded,6.2 L / 100 km,5165,Yellow / -,"Dinmore, QLD",4 cyl,SUV,4 Doors,5 Seats,35280
16732,Mercedes-Benz,2016.0,GLC250,SUV,2016 Mercedes-Benz GLC250,USED,Automatic,"4 cyl, 2 L",Other,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,Sedan,2021 Mercedes-Benz C200,USED,Automatic,"4 cyl, 2 L",Other,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888